<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/index.html"><%= vars.product_full %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/installing.html">Installing and Configuring <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/installing-bosh.html">Installing <%= vars.product_short %> on BOSH Director</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/upgrading.html">Upgrading <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/log-examples.html">Log Messages</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/2-1/troubleshooting.html">Troubleshooting <%= vars.product_short %></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
