<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/index.html"><%= vars.product_full %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/installing.html">Installing <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/installing-bosh.html">Installing <%= vars.product_short %> on BOSH Director</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/upgrading.html">Upgrading <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/updating-for-xenial.html">Updating <%= vars.product_abbr %> to Run with Xenial Stemcells</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/configuration.html">Configuring <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/log-examples.html">Examples of <%= vars.product_abbr %> Log Messages</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/troubleshooting.html">Troubleshooting <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-fim/1-n/uninstalling.html">Uninstalling <%= vars.product_short %></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
